{{define "index"}}

    {{template "header"}}

    <body class="container" hx-ext="multi-swap">

        <div class="row mt-4 g-4">
            {{template "navbar"}}
        </div>

        <div class="row mt-4 g-4" id="site-body">
            <div class="col-8">
                <h1 class="mb-4">Todo List</h1>

                <ul class="list-group fs-5 me-5" id="film-list">
                    {{ range .Todos }}
                    {{ block "film-list-element" .}}
                    <li class="list-group-item bg-primary text-white" id="{{ .ID }}"> Title : {{ .Title }} <br> - {{ .Description }} <br> {{ .Status }}</li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>

            <div class="col-4">
                <h1 class="mb-4">Add Todo</h1>

                <form hx-post="/add-todo" hx-target="#film-list" hx-swap="multi:#film-list:outerHTML,#todo-delete-id:innerHTML" hx-indicator="#spinner">
                    <div class="mb-2">
                        <label for="film-title">Title</label>
                        <input type="text" name="title" id="film-title" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="film-director">Description</label>
                        <input type="text" name="director" id="film-director" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>
                        Submit
                    </button>
                </form>

                <h1 id="delete-id-h1">Delete Todo</h1>
                <form hx-post="/delete-todo" id="delete-id" hx-swap="multi:#film-list:outerHTML,#todo-delete-id:innerHTML" hx-indicator="#del-spinner">
                    <div>
                        <label for="todo-delete-id">ID</label>
                        <select name="id" id="todo-delete-id">
                            {{ range .Todos}}
                            {{ block "to-delete" .}}
                            <option class="list-group-item bg-primary text-white" form="todo-delete-id" value="{{.ID}}" name="{{.Description}}">{{ .Description}}</option>
                            {{ end }}
                            {{ end }}
                        </select>
                        <button type="submit" name="Delete"  class="col-4 btn btn-primary">
                        <span class="spinner-border spinner-border-sm htmx-indicator" id="del-spinner" role="status" aria-hidden="true"></span>Delete
                        </button>
                    </div>
                </form>

                <h1>Update Todo</h1>
                <form hx-post="/update-todo" hx-target="#film-list" hx-swap="outerHTML" hx-indicator="#upd-spinner">
                    <div>
                        <label for="todo-id">ID</label>
                        <select name="id" id="todo-delete-id">
                            {{ range .Todos}}
                            {{ block "to-update" .}}
                            <option class="list-group-item bg-primary text-white" form="todo-update-id" value="{{.ID}}" name="{{.Description}}">{{ .Description}}</option>
                            {{ end }}
                            {{ end }}
                        </select>
                        <button type="submit" name="Update"  class="col-4 btn btn-primary">
                        <span class="spinner-border spinner-border-sm htmx-indicator" id="upd-spinner" role="status" aria-hidden="true"></span>Complete
                        </button>
                    </div>
                </form>

            </div>

        </div>

    </body>
</html>
{{end}}
